*{
    /* Reset CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#f5f5f5;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.todo-app{
    margin: 0 auto;
    width: 500px;
}

.todo-list{
    background: #fff;
    list-style: none;
}

.todo-list li {
    padding: 5px;
    border-bottom: 1px solid gray;
    text-align: left;
}

.todo-list li:last-child{
    border-bottom: none;
}

.todo-list button {
    float: right;
}

.todo-list input[type="checkbox"] {
    margin-right: 10px;
}

.counters{
    text-align: left;
    background: #fff;
}

.counters div{
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.counters .label {
    flex: 1;
}

.counters span {
    flex: 3;
}